<div class="panel panel-default" *ngIf="contact">
    <!-- Panel Header -->
    <div class="panel-heading">
      <h3>{{ contact.name }}</h3>
      <img [src]="contact.imageUrl" alt="{{ contact.name }}" class="img-responsive img-circle pull-right">
    </div>
    <!-- Panel Body -->
    <div class="panel-body">
      <p>Email: {{ contact.email }}</p>
      <p>Phone: {{ contact.phone }}</p>
    </div>
    <!-- Panel Footer -->
    <div class="panel-footer">
      <a class="btn btn-info" [routerLink]="['/contacts', contact.id, 'edit']">Edit</a>
      <a class="btn btn-danger" (click)="onDelete()">Delete</a>
    </div>
  </div>
  