.img-circle {
    border-radius: 50%;
    width: 100px; /* Adjust as needed */
    margin: 10px;
  }
  
  .panel-heading h3 {
    display: inline-block;
    margin: 0;
    vertical-align: top;
  }
  
  /* Adjust the buttons' alignment if necessary */
  .panel-footer button {
    margin-right: 5px;
  }
  