<div class="panel panel-default">
    <!-- Panel Header -->
    <div class="panel-heading">
      <h3 class="panel-title">Contacts <a href="#" class="btn btn-success pull-right">New Contact</a></h3>
    </div>
    <!-- Panel Body -->
    <div class="panel-body">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let contact of contacts">
          <img [src]="contact.imageUrl" class="img-circle" alt="{{ contact.name }}"> {{ contact.name }}
        </li>
      </ul>
    </div>
  </div>
  
