<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row pad-left-right">
      <span class="pull-left title">Contacts</span>
      <a class="btn btn-success pull-right" [routerLink]="['new']">Add Contact</a>
    </div>
  </div>
  <div cdkDropList [cdkDropListData]="contacts" class="panel-body">
    <div cdkDrag *ngFor="let contact of contacts" [cdkDragData]="contact" class="center-panel">
      <app-contact-item [contact]="contact"></app-contact-item>
    </div>
  </div>
</div>
  
